.modal-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  padding: 20px;
}

.modal {
  background-color: var(--background);
  padding: 25px 50px;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  font-size: 24px;
}
#modal-input {
  width: 100%;
}
