#scan-access-points {
  color: var(--red);
  background-color: var(--accent);
  position: absolute;
  right: 2rem;
  top: 6px;
}

#scan-access-points:hover {
  color: var(--foreground);
  background-color: var(--primary);
  cursor: pointer;
}

table {
  width: 100%;
  min-width: 400px;
  margin-bottom: 2em;
  border-collapse: collapse;
}

tr {
  height: 5rem;
}

tr[data-connected="true"] {
  background: var(--accent);
}

td {
  word-break: break-all;
}

th {
  word-break: break-word;
}

th,
td {
  padding: 10px 6px;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

td:last-child {
  text-align: center;
}

td:last-child button {
  min-width: 135px;
}

@media screen and (max-width: 820px) {
  #access-points-table .network-ssid,
  #access-points-table .network-channel,
  .meter-background {
    min-width: 45px;
  }
}

/* Meter */
.meter-background {
  background: #42464d;
  width: 100%;
  word-break: normal;
  min-width: 100px;
}
.meter-foreground {
  color: var(--foreground);
  padding: 4px 0;
}
.meter-green {
  background-color: var(--green);
}
.meter-orange {
  background-color: var(--orange);
}
.meter-red {
  background-color: var(--red);
}
.meter-value {
  padding-left: 8px;
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}

.action-button button,
.action-button p {
  min-width: 130px;
}
